{% include 'header.html' %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Weapon Detection</title>
    <style>
        body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: ivory;
}
        section {
            max-width: 800px;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
        <h1>About Weapon Detection</h1>
    
        <p>Weapon detection technology is designed to identify and locate firearms and other dangerous objects in various environments. This technology serves a crucial role in enhancing public safety and security.</p>

        <h2>Applications:</h2>
        <ul>
            <li>Security systems in public spaces such as airports, train stations, and stadiums.</li>
            <li>Law enforcement to enhance threat detection during routine operations.</li>
            <li>Protecting critical infrastructure and high-security facilities.</li>
        </ul>

        <h2>Benefits:</h2>
        <ul>
            <li>Early detection of potential threats, improving response times.</li>
            <li>Enhanced public safety without compromising privacy.</li>
            <li>Integration with existing security systems for comprehensive solutions.</li>
        </ul>

        <h2>Visual Representation:</h2>
        <img src="static\aboutus1.jpg" alt="Weapon Detection" width="800" height="600">
    
</body>
</html>
{% include 'footer.html' %}
