{% include 'header.html' %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact Us - Weapon Detection App</title>
    <style>
        body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-image: url("../static/contact3.jpg");
            background-size: cover;
    background-attachment: fixed;

    background-position:initial;

    background-repeat: no-repeat;
            background-size: 100% 100%;
}
        section {
            margin: 2em;
            text-align: center;
        }
        p1 {
            color: #060606;
            font-size: 40px;
        }

    </style>
</head>

<body>
    <section>
        <h1>To Contact Us</h1>
        <p1>Email: info@weaponapp.com</p>
        <p1>Phone: +1 (555) 123-4567</p>
    </section>
</body>

</html>
{% include 'footer.html' %}
