<html>
<body>
    <style>
        body{
            display: flex;
            flex-direction: column;
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#333;
   color: white;
   text-align: center;
}
    </style>
    <!-- <footer>
        <p>&copy; 2023 Weapon Detection App. All rights reserved.</p>
    </footer> -->
    <div class="footer">
        <p>&copy; 2023 Weapon Detection App. All rights reserved.</p>
      </div>
</body>
</html>